USE [DB_RECOLECCION_RECICLAJE]
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] DROP CONSTRAINT [FK_PROGRAMAR_RECOLECCION_PROVINCIA]
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] DROP CONSTRAINT [FK_PROGRAMAR_RECOLECCION_HORA]
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] DROP CONSTRAINT [FK_PROGRAMAR_RECOLECCION_FECHA]
GO
ALTER TABLE [SCH_RECIQUEST].[T_MATERIALES] DROP CONSTRAINT [FK_MATERIALES_PETICION_ID]
GO
ALTER TABLE [SCH_RECIQUEST].[T_MATERIALES] DROP CONSTRAINT [FK_MATERIALES_NOMBRE_MATERIAL]
GO
ALTER TABLE [dbo].[AspNetUserTokens] DROP CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims] DROP CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
/****** Object:  Index [UserNameIndex]    Script Date: 13/12/2023 2:58:54 ******/
DROP INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [EmailIndex]    Script Date: 13/12/2023 2:58:54 ******/
DROP INDEX [EmailIndex] ON [dbo].[AspNetUsers]
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 13/12/2023 2:58:54 ******/
DROP INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 13/12/2023 2:58:54 ******/
DROP INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 13/12/2023 2:58:54 ******/
DROP INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 13/12/2023 2:58:54 ******/
DROP INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 13/12/2023 2:58:54 ******/
DROP INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_PROVINCIA]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_RECIQUEST].[T_PROVINCIA]') AND type in (N'U'))
DROP TABLE [SCH_RECIQUEST].[T_PROVINCIA]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION]') AND type in (N'U'))
DROP TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_NOMBRE_MATERIAL]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_RECIQUEST].[T_NOMBRE_MATERIAL]') AND type in (N'U'))
DROP TABLE [SCH_RECIQUEST].[T_NOMBRE_MATERIAL]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_MATERIALES]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_RECIQUEST].[T_MATERIALES]') AND type in (N'U'))
DROP TABLE [SCH_RECIQUEST].[T_MATERIALES]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_HORA]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_RECIQUEST].[T_HORA]') AND type in (N'U'))
DROP TABLE [SCH_RECIQUEST].[T_HORA]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_FECHA]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[SCH_RECIQUEST].[T_FECHA]') AND type in (N'U'))
DROP TABLE [SCH_RECIQUEST].[T_FECHA]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserTokens]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserTokens]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoleClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoleClaims]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/12/2023 2:58:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Schema [SCH_RECIQUEST]    Script Date: 13/12/2023 2:58:54 ******/
DROP SCHEMA [SCH_RECIQUEST]
GO
USE [master]
GO
/****** Object:  Database [DB_RECOLECCION_RECICLAJE]    Script Date: 13/12/2023 2:58:54 ******/
DROP DATABASE [DB_RECOLECCION_RECICLAJE]
GO
/****** Object:  Database [DB_RECOLECCION_RECICLAJE]    Script Date: 13/12/2023 2:58:54 ******/
CREATE DATABASE [DB_RECOLECCION_RECICLAJE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_RECOLECCION_RECICLAJE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019_DEV\MSSQL\DATA\DB_RECOLECCION_RECICLAJE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_RECOLECCION_RECICLAJE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019_DEV\MSSQL\DATA\DB_RECOLECCION_RECICLAJE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_RECOLECCION_RECICLAJE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_RECOLECCION_RECICLAJE]
GO
/****** Object:  Schema [SCH_RECIQUEST]    Script Date: 13/12/2023 2:58:54 ******/
CREATE SCHEMA [SCH_RECIQUEST]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_FECHA]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_RECIQUEST].[T_FECHA](
	[FECHA_ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [varchar](30) NOT NULL,
 CONSTRAINT [PK_FECHA] PRIMARY KEY CLUSTERED 
(
	[FECHA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_HORA]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_RECIQUEST].[T_HORA](
	[HORA_ID] [int] IDENTITY(1,1) NOT NULL,
	[HORA] [varchar](30) NOT NULL,
 CONSTRAINT [PK__HORA] PRIMARY KEY CLUSTERED 
(
	[HORA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_MATERIALES]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_RECIQUEST].[T_MATERIALES](
	[MATERIAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_MATERIAL_ID] [int] NOT NULL,
	[PESO] [varchar](8) NOT NULL,
	[PETICION_ID] [int] NOT NULL,
 CONSTRAINT [PK_T_MATERIALES] PRIMARY KEY CLUSTERED 
(
	[MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_NOMBRE_MATERIAL]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_RECIQUEST].[T_NOMBRE_MATERIAL](
	[NOMBRE_MATERIAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
 CONSTRAINT [PK__NOMBRE_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[NOMBRE_MATERIAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION](
	[PETICION_ID] [int] IDENTITY(1,1) NOT NULL,
	[DETALLES_EDIFICIO] [varchar](250) NOT NULL,
	[CODIGO_POSTAL] [int] NOT NULL,
	[MUNICIPIO] [varchar](50) NOT NULL,
	[PROVINCIA] [int] NOT NULL,
	[CANTON] [varchar](50) NOT NULL,
	[FECHA] [int] NOT NULL,
	[HORA] [int] NOT NULL,
 CONSTRAINT [PK__PROGRAMAR_RECOLECCION] PRIMARY KEY CLUSTERED 
(
	[PETICION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SCH_RECIQUEST].[T_PROVINCIA]    Script Date: 13/12/2023 2:58:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCH_RECIQUEST].[T_PROVINCIA](
	[PROVINCIA_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCIA] [varchar](50) NOT NULL,
 CONSTRAINT [PK__PROVINCIA] PRIMARY KEY CLUSTERED 
(
	[PROVINCIA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'6.0.22')
GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'6e0ac3d1-7109-4d1f-8628-40c931972868', N'juan@gmail.com', N'JUAN@GMAIL.COM', N'juan@gmail.com', N'JUAN@GMAIL.COM', 0, N'AQAAAAEAACcQAAAAENse5FLVZd3Jyrn9HpRNfcC3+Jla0fXx8aa6O3xRkBVRSFnak16BjV1ae9zUIyxkLQ==', N'ICI6BKRJGINCQ3TCM6NO2FBQSDF3TGID', N'bb026a6e-d657-47da-8d73-ad4a797624a6', NULL, 0, 0, NULL, 1, 0)
GO
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_FECHA] ON 

INSERT [SCH_RECIQUEST].[T_FECHA] ([FECHA_ID], [FECHA]) VALUES (1, N'SABADO')
INSERT [SCH_RECIQUEST].[T_FECHA] ([FECHA_ID], [FECHA]) VALUES (2, N'DOMINGO')
INSERT [SCH_RECIQUEST].[T_FECHA] ([FECHA_ID], [FECHA]) VALUES (3, N'LUNES')
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_FECHA] OFF
GO
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_HORA] ON 

INSERT [SCH_RECIQUEST].[T_HORA] ([HORA_ID], [HORA]) VALUES (1, N'12:00:00')
INSERT [SCH_RECIQUEST].[T_HORA] ([HORA_ID], [HORA]) VALUES (2, N'15:00:00')
INSERT [SCH_RECIQUEST].[T_HORA] ([HORA_ID], [HORA]) VALUES (3, N'20:00:00')
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_HORA] OFF
GO
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_MATERIALES] ON 

INSERT [SCH_RECIQUEST].[T_MATERIALES] ([MATERIAL_ID], [NOMBRE_MATERIAL_ID], [PESO], [PETICION_ID]) VALUES (1, 1, N'1000', 1)
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_MATERIALES] OFF
GO
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_NOMBRE_MATERIAL] ON 

INSERT [SCH_RECIQUEST].[T_NOMBRE_MATERIAL] ([NOMBRE_MATERIAL_ID], [NOMBRE]) VALUES (1, N'Papel y cartón')
INSERT [SCH_RECIQUEST].[T_NOMBRE_MATERIAL] ([NOMBRE_MATERIAL_ID], [NOMBRE]) VALUES (2, N'Vidrio')
INSERT [SCH_RECIQUEST].[T_NOMBRE_MATERIAL] ([NOMBRE_MATERIAL_ID], [NOMBRE]) VALUES (3, N'Plástico')
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_NOMBRE_MATERIAL] OFF
GO
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] ON 

INSERT [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] ([PETICION_ID], [DETALLES_EDIFICIO], [CODIGO_POSTAL], [MUNICIPIO], [PROVINCIA], [CANTON], [FECHA], [HORA]) VALUES (1, N'Detalles Edificio 1', 12345, N'Municipio1', 1, N'Canton1', 1, 1)
INSERT [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] ([PETICION_ID], [DETALLES_EDIFICIO], [CODIGO_POSTAL], [MUNICIPIO], [PROVINCIA], [CANTON], [FECHA], [HORA]) VALUES (2, N'Detalles Edificio 2', 67890, N'Municipio2', 2, N'Canton2', 2, 2)
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] OFF
GO
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_PROVINCIA] ON 

INSERT [SCH_RECIQUEST].[T_PROVINCIA] ([PROVINCIA_ID], [PROVINCIA]) VALUES (1, N'San José')
INSERT [SCH_RECIQUEST].[T_PROVINCIA] ([PROVINCIA_ID], [PROVINCIA]) VALUES (2, N'Alajuela')
INSERT [SCH_RECIQUEST].[T_PROVINCIA] ([PROVINCIA_ID], [PROVINCIA]) VALUES (3, N'Cartago ')
SET IDENTITY_INSERT [SCH_RECIQUEST].[T_PROVINCIA] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 13/12/2023 2:58:54 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 13/12/2023 2:58:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 13/12/2023 2:58:54 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 13/12/2023 2:58:54 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 13/12/2023 2:58:54 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 13/12/2023 2:58:54 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 13/12/2023 2:58:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [SCH_RECIQUEST].[T_MATERIALES]  WITH CHECK ADD  CONSTRAINT [FK_MATERIALES_NOMBRE_MATERIAL] FOREIGN KEY([NOMBRE_MATERIAL_ID])
REFERENCES [SCH_RECIQUEST].[T_NOMBRE_MATERIAL] ([NOMBRE_MATERIAL_ID])
GO
ALTER TABLE [SCH_RECIQUEST].[T_MATERIALES] CHECK CONSTRAINT [FK_MATERIALES_NOMBRE_MATERIAL]
GO
ALTER TABLE [SCH_RECIQUEST].[T_MATERIALES]  WITH CHECK ADD  CONSTRAINT [FK_MATERIALES_PETICION_ID] FOREIGN KEY([PETICION_ID])
REFERENCES [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] ([PETICION_ID])
GO
ALTER TABLE [SCH_RECIQUEST].[T_MATERIALES] CHECK CONSTRAINT [FK_MATERIALES_PETICION_ID]
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION]  WITH CHECK ADD  CONSTRAINT [FK_PROGRAMAR_RECOLECCION_FECHA] FOREIGN KEY([FECHA])
REFERENCES [SCH_RECIQUEST].[T_FECHA] ([FECHA_ID])
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] CHECK CONSTRAINT [FK_PROGRAMAR_RECOLECCION_FECHA]
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION]  WITH CHECK ADD  CONSTRAINT [FK_PROGRAMAR_RECOLECCION_HORA] FOREIGN KEY([HORA])
REFERENCES [SCH_RECIQUEST].[T_HORA] ([HORA_ID])
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] CHECK CONSTRAINT [FK_PROGRAMAR_RECOLECCION_HORA]
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION]  WITH CHECK ADD  CONSTRAINT [FK_PROGRAMAR_RECOLECCION_PROVINCIA] FOREIGN KEY([PROVINCIA])
REFERENCES [SCH_RECIQUEST].[T_PROVINCIA] ([PROVINCIA_ID])
GO
ALTER TABLE [SCH_RECIQUEST].[T_PROGRAMAR_RECOLECCION] CHECK CONSTRAINT [FK_PROGRAMAR_RECOLECCION_PROVINCIA]
GO
USE [master]
GO
